.container {
  padding: 30px;
  background: #e7f4ff;
  border-radius: 10px;
}
.question {
  font-family: "eigerdals", sans-serif;
  font-style: normal;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.answer {
  margin-top: 20px;
  font-family: "eigerdals", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
}

.image {
  width: 20px;
  height: 20px;
}
