.app {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: "eigerdals", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 76px;
  text-align: center;
}

.container {
  display: flex;
  flex: 1;
}

.aside {
  display: flex;
  flex-direction: column;
  flex: 1;
  row-gap: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 4;
}

.cat_button {
  width: 80%;
  padding: 10px;
  border: 2px #091111 solid;
  border-radius: 10px;
  font-size: 18px;
  line-height: 21px;
  color: white;
  font-family: "eigerdals", sans-serif;
  font-style: normal;
  font-weight: 900;
  text-shadow: -2px -2px 0 #091111, 0 -2px 0 #091111, 2px -2px 0 #091111,
    2px 0 0 #091111, 2px 2px 0 #091111, 0 2px 0 #091111, -2px 2px 0 #091111,
    -2px 0 0 #091111;
}

.cat_active {
  background: #fc7c3f;
  color: white;
}
