.app {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex: 1;
}

.aside {
  display: flex;
  flex-direction: column;
  flex: 1;
  row-gap: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 4;
}

.cat_button {
  width: 80%;
  padding: 10px;
  border: 2px grey solid;
  border-radius: 25px;
}
