.app {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: "eigerdals", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 76px;
  text-align: center;
  margin-bottom: 0;
}

.subtitle {
  font-family: "eigerdals", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  text-align: center;
}

.container {
  display: flex;
  flex: 1;
}

.aside {
  display: flex;
  flex-direction: column;
  flex: 1;
  row-gap: 10px;
  padding: 5px;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 4;
}

.cat_button {
  background: #fc7c3f;
  width: 80%;
  padding: 10px;
  border: 2px #091111 solid;
  border-radius: 10px;
  font-size: 18px;
  line-height: 21px;
  color: white;
  font-family: "eigerdals", sans-serif;
  font-style: normal;
  font-weight: 900;
}

.cat_active {
  background: #92a7ba;
  border-color: #92a7ba;
}
